.header{
	background: #EEE8AA;
	width:784px;
	height:200px;
}
.badan{
	height: auto;
}

.badan .menu{
	background: #FFFF00;
	float: left;
	width:200px;
}

.badan .content{
	background: #E9967A;
	float: left; 
	width: 584px;
}

.clear{
	clear: both;
}

.footer{
	background: #D8BFD8;
	width:784px;
	height: 100px;
}

.tulisan_tengah{
	text-align: center;
}
