body{
    background: #F2F2F2;
    font-family: Helvetica;
    font-size: 27px;
}

.Prima{
	width: 320px;
	background: #F18C8E;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
}

.title{
	color: rgb(255, 236, 236);
	font-weight: normal;
}

.angka{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;
}

.tombol{
	background: #F67280;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: rgb(7, 7, 7);
	font-size: 15pt;
    border-bottom:4px solid #fac5b8;

}

.brand{
	font-size: 11pt;
	float: right;
	text-decoration: none;
    margin: 12px;
}